<app-navbar></app-navbar>
<div id="container" class="w-100">
  <!-- Puntuacion del trabajador -->
  <div id="points_back" class="p-3">
    <div class="row text-center ml-0 mr-0">
      <div class="col-12">
        <h1 class="display-4">{{ workerInfo.profesion ? workerInfo.profesion : 'Sin experiencia' }}</h1>
        <p class="lead" *ngIf="workerInfo.punctuation; else notPunctuation">
          <img src="assets/icons/star_big.svg" alt="Star icon"> {{workerInfo.punctuation}} estrellas de puntuación
        </p>
        <ng-template #notPunctuation>
          <p class="lead">
            <img src="assets/icons/star_big.svg" alt="Star icon"> Aun sin puntuación
          </p>
        </ng-template>
      </div>
    </div>
  </div>
  <div id="info_worker_container">
    <!-- Informacion del trabajador -->
    <div id="worker">
      <div class="row mb-4">
        <a class="btn" [routerLink]="['/index']">Volver al inicio</a>
        <a id="see_coments" href="#" data-toggle="modal" data-target="#comentariosTrabajadorModal">Ver comentarios<img
            src="assets/icons/eye.svg" alt="Settings icon"></a>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-9">
          <!-- Experiencia laboral -->
          <div class="row fields mb-3">
            <div class="col-md-10">
              <ul class="list-group list-group-flush">
                <li class="list-group-item-active">
                  <i class="fas fa-money-bill-alt"></i> Experiencia laboral
                </li>
                <li class="list-group-item" *ngIf="!workerInfo.experiences; else withExperience">
                  <p>Aun sin experiencia, dale una oportunidad :)</p>
                </li>
                <ng-template #withExperience>
                  <li class="list-group-item" *ngFor="let experience of workerInfo.experiences">
                    {{experience.company}}
                    <div class="float-right">
                      <span class="mr-1">{{experience.position}}</span>
                      <span *ngIf="experience.endDate; else nowWorking">
                        ({{ experience.startDate | date:'LL/yyyy' }}-{{ experience.endDate | date:'LL/yyyy' }})
                      </span>
                      <ng-template #nowWorking>
                        <span>
                          ({{ experience.startDate | date:'LL/yyyy' }}-Actualmente trabajando)
                        </span>
                      </ng-template>
                    </div>
                  </li>
                </ng-template>
              </ul>
            </div>
          </div>
          <!-- Biografia del trabajador -->
          <div class="row mb-5">
            <div class="col-md-12">
              <p>
                {{workerInfo.bio ? workerInfo.bio : 'Vaya, parece que no se ha atrevido a expresarse en una biografía :('}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-3" id="worker_photo">
          <div class="card mb-3">
            <img class="card-img-top" src="{{workerInfo.photo ? workerInfo.photo : 'assets/img/no-photo.png'}}" alt="Worker photo">
            <div class="card-body">
              <h5 class="card-title">{{workerInfo.userName}} {{workerInfo.lastName}}</h5>
              <h6 class="text-secondary">{{workerInfo.city}}, {{workerInfo.region}}</h6>
            </div>
          </div>
          <button class="btn btn-block btn-lg" data-toggle="modal" data-target="#contactoModal">
            Ponerse en contacto
          </button>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- Modal de contacto -->
<div class="modal fade" id="contactoModal" #contactModal role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Formulario de contacto</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return false">
          <div class="form-group">
            <label for="message" class="col-form-label">Mensaje:</label>
            <textarea name="message" id="message" class="form-control" [(ngModel)]="message"></textarea>
          </div>
          <hr>
          <input type="submit" value="Enviar" (click)="sendPetition()" class="btn btn-block">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de comentarios -->
<div class="modal fade" id="comentariosTrabajadorModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comentarios</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="contractsInfo.length === 0; else areContracts">
          Vaya, parece que aun no hay comentarios...
        </p>
        <ng-template #areContracts>
          <div class="card mb-3" *ngFor="let contract of contractsInfo">
            <div class="card-header row">
              <div class="col-9">
                <h5 *ngIf="contract.worker.codUser != codWorker; else isWorker">
                  {{contract.worker.userName}} {{contract.worker.lastName}} -
                  {{contract.startDate | date:'dd/LL/yyyy' }} al
                  {{contract.endDate | date:'dd/LL/yyyy' }} -
                  Como trabajador
                </h5>
                <ng-template #isWorker>
                  <h5>
                    {{contract.contractor.userName}} {{contract.contractor.lastName}} -
                    {{contract.startDate | date:'dd/LL/yyyy' }} al
                    {{contract.endDate | date:'dd/LL/yyyy' }} -
                    Como contratante
                  </h5>
                </ng-template>
              </div>
              <div class="col-3">
                <h3 *ngIf="contract.worker.codUser != codWorker; else isWorker2">{{contract.workerPunctuation}} <img
                    src="assets/icons/star_big.svg"
                    alt="Star icon"></h3>
                <ng-template #isWorker2>
                  <h3>{{contract.contractorPunctuation}} <img src="assets/icons/star_big.svg" alt="Star icon"></h3>
                </ng-template>
              </div>
            </div>
            <div class="card-body row">
              <p *ngIf="contract.worker.codUser != codWorker; else isWorker3">
                {{contract.workerAssessment}}
              </p>
              <ng-template #isWorker3>
                <p>{{contract.contractorAssessment}}</p>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-load-screem></app-load-screem>
